@mixin img_r {
	display: block;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	outline: none;
	white-space: nowrap;
}

body {
	background: #555;
}

body.whitebk {
	background: #FFF;
}

.row {
	background: #FFF;
}

.hidden {
	display: none;
}

.button {
	text-transform: uppercase;
	background: #58595B;
	font-size: rem-calc(12);
	padding: 10px 20px;
	margin-bottom: 0px;
	
	&:hover {
		background: #F7CB65;
	}
	
	&.light {
		background: #FFF;
		color: #58595B;
		margin-right: 20px;
		border: 1px solid #58595B;
		
		&:hover {
			background: #58595B;	
			color: #FFF;
		}
	}
	
	&.alt {
		background: #f7cb65;
		color: #58595B;
		border: 1px solid #58595B;
		&:hover {
			background: #58595B;
			color: #FFF;
		}
	}

}

#symbioform {
	width: 310px;	
	margin: 100px auto;
	#symbio {
	background: url("../images/symbio.png") center top no-repeat transparent;	width: 100%;
	height: 72px;
	@include img_r;
	margin-bottom: 20px;
	}

}

#loginform {
	margin-top: 100px;
	height: 100%;
	input {
		background: #F1F2F2;
		border: 1px solid #BCBEC0;
	}
	.logininput {
		margin-bottom: 0px;
		border-bottom: 0px;
	}
}

#formAddCompany {
	border: 1px solid #58595B;
	padding: 30px 40px;
	margin: 40px;
	span {
		float: left;
	}
	
	label {
		line-height: rem-calc(42);
	}
	
	.companybuttons {
		text-align: right;
	}
	
}

#topnav {
	height: 50px;
	background: #414042;
}

#topleftnav {
	padding-left: 0px;
	width: 175px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #58595b; 
}

#logo {
	background: url("../images/symbio.png") right 5px no-repeat #414042;
	float: right;
	height: 50px;
	background-size: 170px 38px;
	width: 100%;
	
}

#expand {
	position: absolute;
	background: url("../images/expand.png") center center no-repeat #58595b;
	background-size: 25px 25px;
	top: 5px;
	right: 10px;
	z-index: 999;
	width: 30px;
	height: 30px;
	transition: all .25s;
	
	&:hover {
		cursor: pointer;
		background-color: #f7cb65;
	}
}

.fixrow {
	position: relative;
}

.wrapper {
	margin-left: 175px;	
}

.excerpt {
	max-height: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: rem-calc(12);
	padding: 5px 0;
}

.highlight, .important {
/* 	background-color: #FFFF88;  */
	border: 2px solid #f7cb65;
	padding: 1px 0;
	margin-left: -2px;
}

.important {
	border-color: #ea5436;
}

.fullcontent {
	min-height: 300px;
	max-height: 300px;
	overflow-x: auto;
}

.content-wrapper {
	max-height: 300px;
	overflow-x: auto;
}

#searchform {
	label {
		line-height: rem-calc(42);
		font-weight: bold;
	}
	
}

#main {
	float: left;
	width:100%;
	height: 100%;
	position: relative;
	
	h2 {
		font-size: rem-calc(14);
		padding-left: 25px;
		background: #f1f2f2;
		border-top: 1px solid #e2e3e4;
		border-bottom: 1px solid #e2e3e4;
		border-right: 1px solid #e2e3e4;
		padding-top: 8px;
		padding-bottom: 8px;
		font-weight: bold;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
		&.title {
			text-align: left;
		}
	}	
	
	h4 {
		font-size: rem-calc(14);
		text-transform: uppercase;
		margin-top: 0px;
		
	}
	
	.padding {
		padding: 15px;
	}
	
	.keyword-list {
		li {
			margin-left: 0px;
			line-height: 1.2em;
		
			&.second {
				margin-left: 50%;
			}
			
			&.reset {
				margin-top: -6em;
			}
			
			span {
				display: inline-block;
				width: 50%;
				&.first {
					width: 50%;
				}
			}
		}
		
		
		
	}
	
}

.article {
	border-top: 1px solid #dadbdb;
	padding: 5px;
	.title {
		margin-bottom: 10px;
	.type {
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
		margin-right: 5px;
	}
	
	.date {
		color: #bfbfbf;
	}
	}
	
	label {
		font-weight: bold;
		font-size: rem-calc(13);
		margin-bottom: 0px;
	}
	
	p {
		margin-bottom: 0px;
	}
	
}

#external-news, #internal-news {
	.article:first-child {
		border-top: none;
	}
	
}

.reveal-modal .article {
	border-top: none;
}

#leftnav {
	background: #58595b;
	position: relative;
	height: 100%;
	.side-nav {
		color: #FFF;
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			transition: all 0.25s;
				a {
				text-transform: uppercase;
				padding: 10px 5px 10px 15px;
				font-size: rem-calc(12);
				transition: all 0.25s;
				
					&:hover {
						color: #f7cb65;
					}
				}
		}
		
		&> li {
			border-top: 1px solid #626366;
		}
		
		#user {
			background: #6d6e71;
			color: #FFF;	
			padding: 10px 15px 10px 15px;
		}
		
		.innernav {
			display: none;
			margin-left: 0px;
			li {
			padding-left: 1.1rem;
			border-top: 1px solid #626366;
				a {
					font-size: rem-calc(10);
				}
				
				.active {
					color: #f7cb65;
				}
			}
		}
		
	}
	
	#bottomnav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
}

.sub-nav {
	dd {
		background: #f1f2f2;
		
		
		
		

		a {
			border: 1px solid #e4e4e5;
			padding: rem-calc(3 8) !important;
		}
	}
	
	dd.active a {
			border: 1px solid #58595b;
			border-radius: 1px !important;
	}	
}


#map-canvas {
	min-height: 380px;
	
	img {
		max-width: none;
	}
	
	&.expanded {
		z-index: 100;
		position: absolute !important;
		top: 40px;
		right: 0px;
		width: 100%;
		height: 800px;
		
	}
}

#clear-search {
	text-align: right;
}