@mixin img_r {
	display: block;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	outline: none;
	white-space: nowrap;
}

body {
	background: #555;
}

body.whitebk {
	background: #474747;
}

p {
	font-weight: 300;
}

/*
.row {
	background: #474747;
}
*/

.hidden {
	display: none;
}

.button {
	text-transform: uppercase;
	background: #F7CB65;
	color: #4A4D4F;
	font-size: rem-calc(12);
	padding: 10px 25px;
	margin-bottom: 0px;
	font-weight: 300;
	
	&:hover {
		background: #58595B;
	}
	
	&.light {
		background: #FFF;
		color: #58595B;
		margin-right: 20px;
		border: 1px solid #58595B;
		
		&:hover {
			background: #58595B;	
			color: #FFF;
		}
	}
	
	&.alt {
		background: #f7cb65;
		color: #58595B;
		border: 1px solid #58595B;
		&:hover {
			background: #58595B;
			color: #FFF;
		}
	}

}

#symbioform {
	width: 310px;	
	margin: 100px auto;
	#symbio {
	background: url("../images/symbio.png") center top no-repeat transparent;	width: 100%;
	height: 72px;
	@include img_r;
	margin-bottom: 20px;
	}

}

#loginform {
	margin-top: 100px;
	height: 100%;
	input {
		background: #474747;
		border: 1px solid #BCBEC0;
		font-style: italic;
		font-weight: 300;
		color: #A7A9AC;
		line-height: 32px;
		height: rem-calc(32px);
		padding: rem-calc(0px) rem-calc(10px);
	}
	.logininput {
		margin-bottom: 0px;
		border-bottom: 0px;
	}
}

#formAddCompany {
	border: 1px solid #58595B;
	padding: 30px 40px;
	margin: 40px;
	span {
		float: left;
	}
	
	label {
		line-height: rem-calc(42);
	}
	
	.companybuttons {
		text-align: right;
	}
	
}

#topnav {
	height: 50px;
	background: #414042;
}

#topleftnav {
	padding-left: 0px;
	width: 175px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #58595b; 
}

#logo {
	background: url("../images/symbio.png") right 5px no-repeat #414042;
	float: right;
	height: 50px;
	background-size: 170px 38px;
	width: 100%;
	
}

#expand {
	position: absolute;
	background: url("../images/expand.png") center center no-repeat transparent;
	background-size: 25px 25px;
	top: 55px;
	right: 27px;
	z-index: 999;
	width: 30px;
	height: 30px;
	transition: all .25s;
	
	&:hover {
		cursor: pointer;
	}
}

.fixrow {
	position: relative;
}

.wrapper {
	margin-left: 175px;	
}

.excerpt {
	max-height: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: rem-calc(11);
	padding: 5px 0;
}

.highlight, .important {
/* 	background-color: #FFFF88;  */
	border: 2px solid #f7cb65;
	padding: 1px 0;
	margin-left: -2px;
}

.important {
	border-color: #ea5436;
}

.fullcontent {
	min-height: 300px;
	max-height: 300px;
	overflow-x: auto;
}

.content-wrapper {
	min-height: 300px;
	max-height: 350px;
	overflow-x: auto;
	
	border-collapse: collapse;
}

#searchform {
	margin-top: 60px;
	label {
		line-height: rem-calc(24);
		font-size: rem-calc(12);
		letter-spacing: 1px;
		font-weight: 400;
		background: #6D6E71;
		color: #F1F2F2;
		text-align: center;
		display: block;
		text-transform: uppercase;
	}
	
	input {
		background: #EDEEEF;
		padding: 3px 10px;
		height: 24px;
		font-size: rem-calc(11);
		font-weight: 300;
		text-align: center;
		line-height: 18px;
		margin-bottom: 8px;
	}
	
	#clear-search {
		margin-right: 3px;
	}
}

#topcontent {
	height: 40px;
	border-bottom: 1px solid #939598;
	background: #FFF;
	
	.tabs {
		float: right;
		margin-right: 30px;
		line-height: 20px;
		margin: 10px 10px 10px 0px;
	}
	
	.tabs dd {
	
		& > a {
		border-right: 1px solid #BCBEC0;
		text-transform: uppercase;
		padding: 0 15px;
		color: #6D6E71;
			&:hover {
				background: transparent;
			}
			
		}
		
		&:last-child a {
			border-right: 0;
		}
		
		&.active {
			font-weight: 600;
		}
		
	}
	
}

#bottomcontent {
	padding: 0 25px 15px 25px;
	
	.content {
		width: 100%;
	}
	
}

#main {
	background: #EDEEEF;
	float: left;
	width:100%;
	height: 768px;
	position: relative;
	
	h2 {
		font-size: rem-calc(13);
		padding-left: 25px;
		background: #6D6E71;
		color: #FFF;	
		font-weight: 400 !important;
		padding-top: 10px;
		padding-left: 20px;
		padding-bottom: 10px;
		font-weight: bold;
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0px;
		&.title {
			text-align: left;
		}
	}	
	
	h4 {
		font-size: rem-calc(14);
		text-transform: uppercase;
		margin-top: 0px;
		
	}
	
	.padding {
		padding: 5px 15px;
	}
	
	.content {
		position: relative;
	}
	
	.tabs-content {
		margin-bottom: 0px;
	}
	
	.keyword-list {
		margin-left: 20px;
		margin-top: 30px;
		li {
			list-style: none;
			margin-left: 0px;
			line-height: 2em;
		
			&.second {
				margin-left: 50%;
			}
			
			&.reset {
				margin-top: -12em;
			}
			
			span {
				display: inline-block;
				width: 60%;
				&.first {
					width: 40%;
				}
			}
			
			a {
				color: #414042;
				font-weight: 600;
				
				&.highlight {
					padding-right: 5px;
					padding-left: 5px;
					margin-left: -7px;
				}
			}
		}
		
		
		
	}
	
}

.article {
	border-top: 1px solid #BCBEC0;
	padding: 5px;
	font-size: rem-calc(11);
	.title {
		margin-bottom: 2px;
	.type {
		text-transform: uppercase;
		font-weight: 600;
		display: inline-block;
		margin-right: 5px;
	}
	
	.date {
		
	}
	}
	
	label {
		font-weight: 600;
		font-size: rem-calc(11);
		margin-bottom: 0px;
	}
	
	p {
		margin-bottom: 0px;
	}
	
}

#external-news, #internal-news {
	border: 1px solid #BCBEC0;

	.article:first-child {
		border-top: none;
	}
	
	.filters {
			background: #FFF;
			padding: 10px;
			
		ul {
			margin: 0 auto;
			li {
				display: inline-block;
				padding: 0px 15px;
				border-right: 1px solid #BCBEC0;
				text-align: center;
				a {
					font-size: rem-calc(11px);
					color: #58595B;
					
					&.active {
						color: #414042;
						font-weight: 600;
					}
				}
				
				&:last-child {
					border-right: 0;
				}
			}
		}
		
	}
	
}

.reveal-modal .article {
	border-top: none;
}

#leftnav {
	background: #474747;
	position: relative;
	height: 768px;
	font-weight: 300;
	.side-nav {
		color: #FFF;
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			transition: all 0.25s;
				a {
				color: #FFF;
				padding: 10px 5px 10px 15px;
				font-size: rem-calc(12);
				transition: all 0.25s;
				
					.company {
						text-transform: uppercase;
						color: #A7A9AC;
						padding-left: .75rem;
					}
					
					&:hover {
						background: #414042;
					}
				}
		}
		
		
		#user {	
			color: #F1F2F2;	
			text-align: center;
			font-size: rem-calc(14);
			padding: 30px 15px 20px 15px;
		
			.circle {
				border-radius: 70px;
				
				text-align: center;
				margin: 0 auto;
			}
			
			span {
				margin-top: 20px;
				display: block;
			}
		}
		
		.clients {
			margin-top: 20px;
			font-weight: 600;
			color: #6D6E71;
		}
		
		.innernav {
			margin-left: 0px;
			li {
			
				a {
					padding-left: 2.5rem;
					font-size: rem-calc(12);
				
				}
				
				.active {
					color: #f7cb65;
					background: #414042;
				}
			}
		}
		
		.logout {
			background: url("../images/logout.png") 45px center no-repeat transparent;
			text-align: center;
			border-top: 1px solid #6D6E71;
			
			&:hover {
				background: url("../images/logout.png") 50px center no-repeat #414042;
			}
		}
	
		#date-selected {
			background: #414042;
			color: #F1F2F2;
			text-align: center;
			display: block;
			padding: 7px 5px 7px 5px;
			font-size: rem-calc(12);
			border-top: 1px solid #6D6E71;
			border-bottom: 1px solid #6D6E71;
			
			span {
				background: url("../images/downarrow.png") 120px center no-repeat transparent;
				display: block;
			}
		}
		
		#date-selection {
			background: #414042 !important;
			a {
				text-transform: none;
				font-size: rem-calc(12);
				text-align: center;
				padding: 7px 5px 7px 5px;
				
				
			}
		}
		
	}
	
	#bottomnav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
}

.sub-nav {
	dd {
		background: #f1f2f2;

		a {
			border: 1px solid #e4e4e5;
			padding: rem-calc(3 8) !important;
		}
	}
	
	dd.active a {
			border: 1px solid #58595b;
			border-radius: 1px !important;
	}	
}


#map-canvas {
	margin: 13px 0;
	min-height: 250px;
	
	img {
		max-width: none;
	}
	
	&.expanded {
		z-index: 100;
		position: absolute !important;
		top: 40px;
		right: 0px;
		width: 100%;
		height: 700px;
		
	}
}

#clear-search {
	text-align: right;
}