div#leftnav
	ul.side-nav(id="nav")
		li#user 
			img.circle(src="/images/sales.jpg", width="70", height="70")
			span Charles Bernstein
		a#date-selected(href="#",data-dropdown="date-selection",data-options="is_hover:true")
			span today
		ul#date-selection.f-dropdown(data-dropdown-content)
			li
				a(href='#', date-selection='today') today
			li
				a(href='#', date-selection='week') past week
			li
				a(href='#', date-selection='month') past month
			li
				a(href='#', date-selection='year') past year
		li 
			a.clients(href='/company') Clients		
		- for (var key in companylist) {
		- var el = companylist[key]
			li
				a(href="#", class="link")
					div.company
						= key
				ul.innernav
					each lines in companylist[key]
						li
							a(href="/company/#{lines._id}")
								div.lineofbusiness(id="#{lines._id}")
									= lines.lineofbusiness
		- }
	ul.side-nav(id="bottomnav")	
		li
			a.logout(href='/') Log Out
	| <script>
	| var currentcompany = "#{current_company}";
	| </script>