div#leftnav
	ul.side-nav(id="nav")
		li
			a(href='/') dashboard
		li
			a(href='#') clients
			ul.inner-nav
				each company, i in companylist
					li
						a(href="/company/#{company._id}")
							div.company(id="#{company._id}")
								= company.name
		li
			a(href='/adddata') Add Data