extends mainlayout
		
block content
	div.row
		div.small-4.columns.push-4#loginform
			div#symbioform
				h1#symbio Symb.io
				input.logininput(type='text', placeholder='Username')
				input(type='password', placeholder='Password')
				a(href='/company/529f9fbb0b49ca407c000001', class='button right') LOG IN