extends layout
		
block content
	div.row
		div.small-4.columns.push-4#loginform
				h1 Symb.io Login
				label Username
				input(type='text')
				label Password
				input(type='password')
				a(href='/company', class='button') Login