form#formAddItem(class="form",name="additem",method="post",action="/adddata")
			input(type="hidden", name="company_id", value="529bef09e12f77cc22000001")
			input#inputTitle(type="text", placeholder="title", name="title")
			textarea#inputContent(type="text", placeholder="content", name="content", rows="6")
			input#inputTags(type="text", placeholder="tags", name="tags")
			input#inputDate(type="date", placeholder="MM/DD/YY", name="content_date")
			input#inputAuthor(type="text", placeholder="Author", name="author")
			select(name='source')
				option(value='internal', selected) Internal
				option(value='external') External
			select(name='type')
				option(value='')
				option(value='email') Email
				option(value='RFP') RFP
				option(value='memo') Memo
				option(value='news') News
			div.row
				div.large-6.columns
					input#inputOrigination(type="text", placeholder="Origination", name="origination")
				div.large-6.columns
					input#OriginationLngLat(type="text", readonly, placeholder="Longitude, Latitude")
					input#startLat(type="hidden", name="startLat")
					input#startLng(type="hidden", name="startLng")
			div.row
				div.large-6.columns
					input#inputDestination(type="text", placeholder="Destination", name="destination")
				div.large-6.columns
					input#DestinationLngLat(type="text", readonly, placeholder="Longitude, Latitude")
					input#endLat(type="hidden", name="endLat")
					input#endLng(type="hidden", name="endLng")

			
			button#btnSubmit(type="submit") submit